<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phlox Business</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!-- HEADER -->
        <header>
            <!-- NAV HEADER TOP -->
            <div class="nav_header_top flex">
                <p class="number_phone">
                    <span>{{number_phone.prefix}}</span>
                    <span>{{number_phone.number_phone1}}</span>
                    <span>{{number_phone.number_phone1}}</span>
                </p>
                <ul class="social_icon flex"> 
                    <li v-for="icon in social_icon" v-html="icon"></li>
                 </ul>
            </div>
            <!-- //NAV HEADER TOP -->
            <!-- NAV HEADER BOTTOM -->
            <div class="nav_header_bottom flex">
                <img src="assets/img/cropped-Group-39-2x.png" alt="Logo" class="logo">
                <div>
                    <ul class="menu_nav flex">
                        <li v-for="menu in menu_nav">{{menu}}</li>
                    </ul>
                </div>
                <div>
                    <button class="big">Purchase</button>
                    <i class="fas fa-search search"></i>
                </div>
            </div>
            <!-- //NAV HEADER BOTTOM -->
        </header>
        <!-- //HEADER -->
        <!-- MAIN -->
        <main class="main_container">
            <!-- SECTION1 -->
            <section id="section1">
                <div class="container_section1 flex">
                    <div class="text_section1">
                        <!-- CAROUSEL IMMAGINI E TESTO-->
                        <img :src="img_section1[counter]" alt="" class="active">
                            <div class="text_data_section1" v-for="(text,index) in text_section1" :class="(index === counter)? 'active': '' " >
                                <div v-for="text in text" class="data_section1 flex">
                                    <h4>{{text.h4}}</h4>
                                    <h1 v-html="text.h1"></h1>
                                    <div class="divider">&nbsp</div>
                                    <p v-html="text.p"></p>
                                </div>
                            </div>
                        <!-- //CAROUSEL IMMAGINI E TESTO-->  
                        <button class="big">READ MORE</button>
                        <div class="social_selector flex">
                            <ul class="social_link_section1 flex">
                                <li v-for="social in social_link_section1">{{social}}</li>
                            </ul>
                            <!-- SELECTOR COLLEGATO AL COROUSEL-->
                            <div class="selector_img_section1 flex">
                                <button class="button_selector" v-for="(img,index) in img_section1" :class="(index === counter)? 'active': '' " @click= "counter=index">0{{index+1}}</button>
                            </div>
                            <!-- //SELECTOR COLLEGATO AL COROUSEL-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- //SECTION1 -->
            <!-- SECTION2 -->
            <section id="section2">
                <div class="container_section2 flex">
                    <div class="container_text_section2 flex">
                        <h2 v-html="text_section2.h2"></h2>
                        <div class="divider">&nbsp</div>
                        <button class="big">VIEW ALL</button>
                    </div>
                    <div class="container_card_section2 flex">
                        <div class="card flex" v-for="text in card_section2">
                            <div class="card_data" v-for="text in text">
                                <span v-html="text.i"></span>
                                <h2>{{text.h2}}</h2>
                                <p>{{text.p}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //SECTION2 -->
            <!-- SECTION3 -->
            <section id="section3">
                <div class="container_section3 flex">
                    <div class="container_img_section3">
                        <div class="busy-arch">
                            <img src="assets/img/busy-architect-PYVKWM4-1024x872.jpg" alt="" id="busy-arch">
                            <div class="overlay"></div>
                        </div>
                        <img src="assets/img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg" id="business-woman" alt="">
                    </div>
                    <div class="container_text_section3 flex">
                        <div class="data_text_section3">
                            <h3 v-html="text_section3.h3"></h3>
                            <div class="divider">&nbsp</div>
                            <p v-html="text_section3.p"></p>
                            <button class="big">READ MORE</button>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //SECTION3 -->
            <!-- SECTION4 -->
            <section id="section4" class="flex">
                <div class="container_section4 flex">
                    <div class="container_text_section4">
                        <div class="text_data_section4 flex">
                            <div class="left_text_data_section4">
                            <div class="divider">&nbsp</div>
                            <h3 v-html="text_section4.h3"></h3>
                            <div class="divider">&nbsp</div>
                            </div>
                            <p v-html="text_section4.p"></p>
                        </div>
                    </div>
                    <div class="container_images_section4 flex">
                        <div class="img_section4" v-for="(img,index) in img_section4">
                            <img :src="img" alt="">
                            <div class="overlay">
                                <div class="text_overlay flex">
                                    <h4>{{img_section4_text[index].h4}}</h4>
                                    <p>{{img_section4_text[index].p}}</p>
                                </div>
                            </div>
                        </div>
                        <button class="big">READ MORE</button>
                    </div>
                </div>
            </section>
            <!-- //SECTION4 -->
            <!-- SECTION5 -->
            <section id="section5">
                <div class="container_section5">
                    <div class="overlay flex">
                        <i class="fas fa-quote-left"></i>
                        <h2 v-html="text_section5.h2"></h2>
                        <img :src="text_section5.img" alt="business-woman">
                        <h4 v-html="text_section5.h4"></h4>
                        <h5 v-html="text_section5.h5"></h5>
                    </div>
                </div>
            </section>
            <!-- //SECTION5 -->
            <!-- SECTION6 -->
            <section id="section6">
                <div class="container_section6 flex">
                    <div class="text_container_section6 flex">
                        <h2 v-html="text_section6.h2"></h2>
                        <div class="divider">&nbsp</div>
                    </div>
                    <div class="container_images_section6 flex">
                        <div class="img_section6" v-for="blog in img_section6">
                            <div v-for="img in blog">
                                <img :src="img.img" alt="">
                            </div>
                            <div class="card_blog flex" v-for="img in blog">
                                <p>{{img.p}}</p>
                                <ul>
                                    <li class="flex">{{img.li}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="big">VIEW ALL POST</button>
                </div>
            </section>
            <!-- //SECTION6 -->
            <!-- SECTION7 -->
            <section id="section7">
                <div class="container_section7 flex">
                    <div class="container_card_section7 flex">
                        <div class="card left flex">
                            <p>{{card_section7_left.p}}</p>
                            <h3>{{card_section7_left.h3}}</h3>
                            <div class="input_card_section7">
                                <input type="text" class="email" placeholder="Enter Your Email Address">
                                <input type="submit" value="SUBMIT" class="submit">
                            </div>
                        </div>
                        <div class="card right flex">
                            <p>{{card_section7_right.p}}</p>
                            <h3>{{card_section7_right.h3}}</h3>
                            <button class="big">START NOW</button>
                        </div>
                        <div class="container_img_section7 flex">
                            <div class="img_section7"  v-for="img in img_section7">
                                <img :src="img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //SECTION7 -->
            <!-- SECTION8 -->
            <section id="section8">
                <div class="container_section8 flex">
                    <div class="mission flex">
                        <img :src="mission_section8.img" alt="">
                        <p>{{mission_section8.p}}</p>
                    </div>
                    <div class="link_container_section8 flex" v-for="info in info_section8">
                        <div class="info" v-for="info in info">
                            <h3 v-html="info.h3"></h3>
                            <div class="divider">&nbsp</div>
                            <ul class="link" v-for="link in info.li">
                                <li>{{link}}</li>
                            </ul>
                            <div class="p" v-for="p in info.p">
                                <p>{{p}}</p>
                            </div>
                            <div class="img" v-for="img in info.img">
                                <img :src="img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //SECTION8 -->
        </main>
        <!-- //MAIN -->
        <!-- FOOTER -->
        <footer>
            <div class="container_footer flex">
                <h4>{{footer.h4}}</h4>
                <ul class="social_icon flex"> 
                    <li v-for="icon in social_icon" v-html="icon"></li>
                 </ul>
            </div>
        </footer>
        <!-- //FOOTER -->
        <!-- BUTTON SCROLLTOP -->
        <div class="scrollTop" @click="scrollTop()">
            <i class="fas fa-arrow-up"></i>
        </div>
        <!-- //BUTTON SCROLLTOP -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>